<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Insert title here</title>
</head>

<body>
	<form action="add" >

		<label class="form-label">ID</label> <input type="text" name="id"><br>
		<label class="form-label">Username</label> <input type="text" name="username"><br>
		<label class="form-label">password</label> <input type="text" name="password"><br>

		<button type="submit">Add</button>
	</form>
</body>

</html>