<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Insert title here</title>
</head>

<body>
	<table class="table" id="myTable">
		<tr>
			<th>Id</th>
			<th>UserName</th>
			<th>Password</th>
		</tr>
		<tr th:each="user : ${users}">
			<td th:text="${user.id}"></td>
			<td th:text="${user.username}"></td>
			<td th:text="${user.password}"></td>
		</tr>
	</table>
</body>

</html>